.section {
    clear: both;
    text-align: center;

    img {
        margin-bottom: 16px;

        @include tablet() {
            float: right;
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    p {
        @extend %type-paragraph;
    }

    h2 {
        text-align: left;
    }

    .section-intro {
        @extend %type-paragraph-intro;
    }

    a.external-link {
        @extend %type-paragraph;

        background: #e3e3e3;
        color: #000;
        display: inline-block;
        margin: auto;
        margin-top: 16px;
        padding: 12px 18px;
        text-align: center;

        &:hover {
            background: #d3d3d3;
        }
    }

}