.section {
    clear: both;
    text-align: center;

    img {
        margin-bottom: 16px;

        @include tablet() {
            float: right;
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    p {
        @extend %type-paragraph;
    }

    h2 {
        text-align: left;
    }

    .section-intro {
        @extend %type-paragraph-intro;
    }

}