html {
    font-size: 62.5%;
}

body {
    font-size: 100%;
}

%type-navBar-link {
    font-size: 1.6rem;
}

%type-paragraph {
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: justify;
}

%type-paragraph-intro {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.4rem;
    text-align: justify;
}