html {
    font-size: 62.5%;
}

body {
    font-size: 100%;
}

%type {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight:lighter;
}

%type-navBar-link {
    @extend %type;

    font-size: 1.6rem;
}

%type-header-title {
    font-family: "Times New Roman", Georgia, Times, serif;
    font-size: 5rem;
    font-weight:normal;
}

%type-header-subTitle {
    @extend %type-header-title;

    font-size: 3rem;
}

%type-header-tagLine {
    @extend %type;

    font-style: italic;
}

%type-paragraph {
    @extend %type;

    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: justify;
}

%type-paragraph-intro {
    @extend %type;

    font-size: 1.8rem;
    font-weight: normal;
    line-height: 2.4rem;
    text-align: justify;
}

%type-copyright {
    @extend %type;

    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2.2rem;
}

%type-footer {
    @extend %type;

    font-size: 1.2rem;
    line-height: 1.8rem;
}

%type-footer-links {
    @extend %type-footer;

    font-weight: bold;
}

%type-quote-text {
    @extend %type;

    font-size: 3rem;
    font-style: italic;
    font-weight: lighter;
    line-height: 3.4rem;
}

%type-quote-attribution-name {
    @extend %type;

    font-size: 2.2rem;
    font-weight: normal;
    line-height: 2.6rem;
}

%type-quote-attribution-company {
    @extend %type;

    font-size: 1.6rem;
    line-height: 2.2rem;
}